#header-banner {
  background: url(../images/jumbo-background.jpg) no-repeat 50% 50%;
  background-size: cover;
  height: 640px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#header-banner .logo-div {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 0;
  margin-right: 0;
  text-align: left;
}

#header-banner .logo-div img {
  max-width: 100%;
  width: 301px;
}

#header-banner h2.header-title {
  color: inherit;
  font-family: 'Birdseye',sans-serif;
  font-size: 48px;
  font-weight: normal;
  line-height: 1.5;
  margin: 50px auto 15px;
  text-align: left;
  opacity: 1;
  color: #fff;
}

#header-banner .sub-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: .15em;
  margin: 0;
  text-align: left;
  opacity: 1;
  color: #fff;
}

#header-banner .btn-div {
  display: flex;
  margin: 15px auto 0;
  padding: 10px 0;
  align-items: stretch;
  justify-content: space-between;
}

#header-banner .btn-div .page-btn-div {

}

#header-banner .pana-btn {
  display: inline-block;
  height: auto;
  padding: 14px 30px;
  background-image: none !important;
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  -webkit-transition: all 100ms ease-in-out;
  -moz-transition: all 100ms ease-in-out;
  -ms-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
  border: 1px solid #fff;

  font-size: 12px;
  font-weight: normal;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 12px;
}


#header-banner .pana-btn:hover {
  background-color: rgba(255,255,255,0.2);
}

#header-banner .pana-btn-primary {
  background-color: #fff;
  color: #000;
  font-weight: 800;
}

#header-banner .pana-btn-primary:hover {
  background-color: transparent;
  color: #fff;
}

#header-banner .btn-asist {
  margin-right: 50px
}

#header-banner .btn-commun {
  margin-right: 10px;
}

#header-banner .social-btn-div {
  display: flex;
  align-items: center;
}

#header-banner .social-btn-div .pana-social-item {
  color: #fff;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  transition: all 300ms ease;
  margin-left: 10px;
}

#header-banner .social-btn-div .pana-social-item:first-child {
  margin-left: 0;
}

#header-banner .social-btn-div .pana-social-item:hover {
  color: rgba(0,0,0,0.6);
}

#header-banner .container {
   padding: 0;
}
